# {{ ansible_managed }}
# Переменные окружения для systemd-юнита {{ kafka_ui_service_name }}.service
JAVA_OPTS="{{ kafka_ui_heap_opts }}{% for opt in kafka_ui_java_opts %} {{ opt }}{% endfor %}"
{% if kafka_ui_dynamic_config_enabled | bool %}
DYNAMIC_CONFIG_PATH={{ kafka_ui_data_dir }}/dynamic_config.yaml
{% endif %}
{% for key, value in (kafka_ui_env_extra | default({}, true)) | dictsort %}
{{ key }}={{ value }}
{% endfor %}
